/* CSS declarations go here */

#tOne:focus {
  position:absolute;
  width: 60%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid red;
  border-radius: 4px;
  top:58%;
  left:20%;

}

#tOne{
  position:absolute;
  width: 60%;
  box-sizing: border-box;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border:none;
  padding: 12px 20px;
  top:58%;
  left:20%;
}

#tTwo{
  position:absolute;
  width: 30%;
  box-sizing: border-box;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border:none;
  padding: 12px 20px;
  top:40%;
  left:5%;
}

/*input[type=text] {
    position:absolute;
    width: 60%;
    box-sizing: border-box;
    border: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border:none;
    padding: 12px 20px;
    top:58%;
    left:20%;
}*/

/* When the input field gets focus, change its width to 100% */
/*input[type=text]:focus {
    position:absolute;
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 4px solid red;
    border-radius: 4px;
    top:58%;
    left:20%;
}*/

a.button {
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   background-color: #d0021B;
}

.header-image {
    position:absolute;
    top:0;
    bottom:0;
    max-height:1000px;
    overflow:hidden;
      left: 0;
      right: 0;
    z-index:-1;
      border:10px solid #545351;
}

.header {
    width: 100%;
    padding-top:50px;
    margin-top:-10px;
}


.header-image img {
    width: 100%;
}
