
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border:10px solid red;
}

.header {
  width: 100%;
  padding-top:50px;
  margin-top:-10px;
}
